.strong-shadow.rounded:before {
    border-radius: 5px;
}
.strong-shadow.strong-shadow-top-right:before  {
    top: -25px;
    left: 50px;
    right: -25px;
    bottom: 25px;
}
.strong-shadow:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #072447;
    z-index: -1;
}
#header .header-nav.header-nav-line nav>ul li >a {
    color: var(--primary);
}
.view-all:hover {
    color: var(--primary);
    border: 1px solid --primary;
}
.project-img {
    width: 100%;
    height: 250px;
    /* غيّر الرقم حسب ما يناسب تصميمك */
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    /* اختياري */
}
