.strong-shadow.rounded:before {
    border-radius: 5px;
}

.strong-shadow.strong-shadow-top-right:before {
    top: -25px;
    left: 50px;
    right: -25px;
    bottom: 25px;
}
.strong-shadow.strong-shadow-top-left:before {
    top: -25px;
    right: 50px;
    left: -25px;
    bottom: 25px;
}

.strong-shadow:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--secondary);
    z-index: -1;
}

#header .header-nav.header-nav-line nav>ul li>a:hover {
    color: var(--primary) !important;
}

.view-all:hover {
    color: var(--light) !important;
    border: 1px solid var(--light) !important;
}

.project-img {
    width: 100%;
    height: 250px;
    /* غيّر الرقم حسب ما يناسب تصميمك */
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    /* اختياري */
}

.btn-gradient:not(.btn-outline):hover {
    color: --secondary !important;
    border: 1px solid --secondary !important;
}

.btn-secondary:hover {
    color: var(--light) !important;
    border: 1px solid (--light) !important;
}

.sort-source.sort-source-style-3>li.active>a {
    border-bottom-color: var(--secondary) !important;
    color: var(--secondary) !important;
}

.owl-carousel .owl-nav button.owl-prev:before,
.owl-carousel .owl-nav button.owl-next:before {
    color: var(--light)
}

.owl-carousel.nav-borders .owl-nav button[class*="owl-"] {
    border-color: var(--light) !important;
}
section.section{
    margin : 0px;
}
.page-header{
    margin : 0 ;
}
.image-stack img {
    max-width: 100%;
    height: 400px;
    object-fit: contain;
    /* يحافظ على الأبعاد بدون اقتطاع */
}
.accordion.accordion-modern .card:first-of-type,
.accordion.accordion-modern .card:not(:first-of-type):not(:last-of-type),
.accordion.accordion-modern .card:last-of-type{
    border : none;
}
